html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .card-container {
        align-self: center;
        align-content: center;
        justify-self: center;
        flex-direction: column;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 0em;
        margin-bottom: 0em;
        width: 100%;
    }

    .card {
        align-self: center;
        align-content: center;
        justify-self: center;
        width: 100%;
    }

    .card-background {
        width: 100%;
        margin-bottom: 5em;
        align-self: center;
        align-content: center;
        justify-self: center;
    }

    .navbar {
        z-index: 9999;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: row;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        align-content: center;
        text-align: center;
        vertical-align: central;
    }

    .nav-left {
        z-index: 9999;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    footer {
        margin-bottom: 2em;
    }

    .text-center {
        margin-top: 5em;
    }
}

html {
    position: relative;
    min-height: 100%;
}

* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Garamond;
    margin-bottom: 2em;
    background-image: url('../images/bg-img.jpg');
    background-size: cover;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background: none;
}

.card-background {
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
}

.card-button {
    border-radius: 4px 10px 4px 10px;
    border: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(50, 50, 255, 0.4);
    width: 8em;
    height: 2em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    transition: all 0.1s ease-in-out;
}

.card-button:hover {
    transform: scale(1.1);
    background: none;
}

.card-container {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 100%;
}

.card {
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    max-height: 100%;
    min-width: 30%;
    background-color: rgba(50, 50, 255, 0.2);
    transition: all 0.15s ease-in-out;
    padding: 1em;
    margin: 1em;
}

    .card:hover {
        background: none;
        color: white;
        transform: scale(1.025);
    }

.card-header {
    background: none;
    width: 100%;
}

.card-content {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.card-footer {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    width: 100%;
    color: white;
    margin-top: auto;
}

button {
    border-radius: 4px 10px 4px 10px;
    transition: all 0.1s ease-in-out;
    text-emphasis-color: revert;
    background-color: rgba(150, 150, 150, 0.7);
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}

.small-button {
    border: none;
    width: 8em;
    height: 2em;
}

.med-button {
    border: none;
    width: 12em;
    height: 3em;
}

.lrg-button {
    border: none;
    width: 15em;
    height: 6em;
}

button:hover {
    transform: scale(1.025);
}

.navbar {
    background-color: black;
}

.nav-link:hover {
    color: white;
}

.nav-item:hover {
    color: white;
}

.nav-left ul,
.nav-right ul {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-left {
    display:flex;
    align-items: center;
    background-color: black;
}

.nav-left li {
    margin-right: 10px;
}

.nav-right li {
    margin-left: 10px;
}

.nav-right {
    margin-left: auto;
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    align-content: center;
    align-self: center;
    max-width: 30em;
    margin-bottom: 1em;
}

.input-button {
    width: 6em;
}