@page
@model rddSoftwareSite.Pages.Contact_MeModel
@{
    ViewData["Title"] = "Contact Me";
}

<div class="text-center">
    <h1 class="display-3">Contact Me</h1>
    <p>Email: <a href="mailto:rusty@rddsoftware.com">rusty@rddsoftware.com</a></p>
    <p>Phone: 619.382.5414</p>
</div>
