@page
@model IndexModel
@{
    ViewData["Title"] = IndexModel.title;
}
<div class="text-center">
    <h1 class="display-3">Welcome to RDD Software</h1>
    <p>This site chronicles my coding journey and serves as a dynamic resume.<br>To view all of the code I've written or contributed to, visit the Repositories page in the navigation bar.</p>
</div>

<div class="card-background">
    <div class="card-container">

        <!--Education card-->
        <div class="card">
            <div class="card-header">
                <h2 class="display-5">Education</h2>
            </div>
            <div class="card-content">
                <div class="card-content">
                    <p>
                        <h4 class="display-6">College<br></h4>
                        <b>Bachelors of Science in Computer Science</b>California State University, San marcos<br><br>
                        <b>Associates of Science in Physics</b>San Diego Mesa College<br><br>
                        <h4 class="display-6">Coursework<br></h4>
                        Agile, Deep Learning, Operating Systems, Databases, Networking, Assembly Languages, Virtual Reality, SolidWorks, Creo Parametric, Modern Physics, Theoretical Physics, Analytical Mechanics.
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://www.csusm.edu/cs/index.html">CSUSM</a>
                <a class="card-button" href="https://www.sdmesa.edu/academics/v2/programs/physics/faculty.shtml">Mesa College</a>
            </div>
        </div>

        <!--Experience card-->
        <div class="card">
            <div class="card-header">
                <h2 class="display-5">Experience</h2>
            </div>
            <div class="card-content">
                <p>
                    <h4 class="display-6">Career</h4>
                    <b>Associate Software Engineer</b>
                    G2 Software Systems<br><br>
                    <h4 class="display-6">Languages</h4>
                    <ul>
                        @foreach (string language in IndexModel.GetLanguages())
                        {
                            <li style="list-style: none;">@language</li>
                        }
                    </ul>
                </p>
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://www.g2ss.com/">G2SS</a>
            </div>
        </div>

        <!--Major Projects card-->
        <div class="card">
            <div class="card-header">
                <h2 class="display-5">Major Projects</h2>
            </div>
            <div class="card-content">
                <h4 class="display-6">FitHub</h4>
                <p>Fitness track web application.
                    <br>This application is designed to give users the ability to design and track workouts, while also connecting them with other users and allowing them to share workouts, images, and encouragement to keep their fitness goals on track.
                </p>
                <h4 class="display-6">Outbreak</h4>
                <p>Virtual reality zombie survival game.
                    <br>This game is designed to immerse the player in a world of horror and keep them on their toes to survive wave after wave of zombie attacks.
                </p>
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://www.my-fithub.com/">FitHub</a>
                <a class="card-button" href="https://youtu.be/ZdZzw5PgMSI">Outbreak</a>
            </div>
        </div>
    </div>
</div>
