@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
    <h1 class="display-3">
        @ViewData["Title"]
    </h1>
    <p>
        This page is under construction as of @ViewData["TimeStamp"]
    </p>
</div>
