@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
    <h1 class="display-3">
        @ViewData["Title"]
    </h1>
    <p>
        Privacy agreement between user (you) and Rusty Dillard (me) as of @ViewData["TimeStamp"]
    </p>
    <p>
        None of the information you entered in the "I-was-here" page will be stored or used in any way other than as a way for me to know who has visited my site and added to a list of my own personal contacts to never be posted anywhere else online.<br><br>
        
        If you have any concerns:<br>
        (a) Don't enter your personal information on this site.<br>
        (b) Email me to have your information removed from my contacts and the email deleted.<br>
    </p>
</div>
