@page
@model rddSoftwareSite.Pages.RepositoriesModel
@{
    ViewData["Title"] = "Repositories";
}

<div class="text-center">
    <h1 class="display-3">GitHub Repositories</h1>
    <p>These are all descriptions with links to repositories on GitHub that I've either created or been a contributor on.</p>
</div>

<div class="card-background">
    <div class="card-container">
        <div class="card"
            onmouseover="this.style.backgroundImage = 'url(\'/images/fithub.png\')'; this.style.opacity = '0.7'; this.style.backgroundSize = 'cover';"
            onmouseout="this.style.backgroundImage = 'none'; this.style.opacity = '1.0';">
            <div class="card-header">
                <h2 class="display-6">FitHub</h2>
            </div>
            <div class="card-content">
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://github.com/JCoombs224/FitHub">Repo</a>
            </div>
        </div>
        <div class="card"
            onmouseover="this.style.backgroundImage = 'url(\'/images/outbreak.png\')'; this.style.opacity = '0.7'; this.style.backgroundSize = 'cover';"
            onmouseout="this.style.backgroundImage = 'none'; this.style.opacity = '1.0';">
            <div class="card-header">
                <h2 class="display-6">Outbreak</h2>
            </div>
            <div class="card-content">
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://github.com/rddsoftware/OutbreakVR">Repo</a>
            </div>
        </div>
        <div class="card"
            onmouseover="this.style.backgroundImage = 'url(\'/images/mips-logo.png\')'; this.style.opacity = '0.7';"
            onmouseout="this.style.backgroundImage = 'none'; this.style.opacity = '1.0';">
            <div class="card-header">
                <h2 class="display-6">Assembly Language</h2>
            </div>
            <div class="card-content">
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://github.com/rddsoftware/MIPSPrograms">Repo</a>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card"
             onmouseover="this.style.backgroundImage = 'url(\'/images/shell.png\')'; this.style.opacity = '0.7'; this.style.backgroundSize = 'cover';"
             onmouseout="this.style.backgroundImage = 'none'; this.style.opacity = '1.0';">
            <div class="card-header">
                <h2 class="display-6">Shell Simulator</h2>
            </div>
            <div class="card-content">

            </div>
            <div class="card-footer">
                <a class="card-button" href="https://github.com/rddsoftware/UnixPowerShellSim">Repo</a>
            </div>
        </div>
        <div class="card"
             onmouseover="this.style.backgroundImage = 'url(\'/images/pcb.png\')'; this.style.opacity = '0.7'; this.style.backgroundSize = 'cover';"
             onmouseout="this.style.backgroundImage = 'none'; this.style.opacity = '1.0';">
            <div class="card-header">
                <h2 class="display-6">PCB Table</h2>
            </div>
            <div class="card-content">
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://github.com/rddsoftware/PCBTable">Repo</a>
            </div>
        </div>
        <div class="card"
             onmouseover="this.style.backgroundImage = 'url(\'/images/buffer.png\')'; this.style.opacity = '0.7'; this.style.backgroundSize = 'cover';"
             onmouseout="this.style.backgroundImage = 'none'; this.style.opacity = '1.0';">
            <div class="card-header">
                <h2 class="display-6">Multithread Buffer</h2>
            </div>
            <div class="card-content">
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://github.com/rddsoftware/MultithreadBuffer">Repo</a>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card"
             onmouseover="this.style.backgroundImage = 'url(\'/images/pagerep.png\')'; this.style.opacity = '0.7'; this.style.backgroundSize = 'cover'; this.style.color = 'black';"
             onmouseout="this.style.backgroundImage = 'none'; this.style.opacity = '1.0'; this.style.color = 'white';">
            <div class="card-header">
                <h2 class="display-6">Page Replacement</h2>
            </div>
            <div class="card-content">
            </div>
            <div class="card-footer">
                <a class="card-button" href="https://github.com/rddsoftware/PageReplacement">Repo</a>
            </div>
        </div>
    </div>
</div>